In [1]:
import notebook
import pandas as pd
import pathlib
import numpy as np
import math
import random
import json, sys
from datetime import date, timedelta, time, datetime
from careers.game import SuccessFormula

#sys.path.append('C:\\Compile\\careers\\careers')
#sys.path

In [2]:
today = datetime.now()
base_date = datetime(2000,1,1,0,0,0,0)
print(f" base_date: {base_date}, today: {today}")
print(f'{today.year}-{today.month}-{today.day} {today.hour}{today.minute}{today.second}')

 base_date: 2000-01-01 00:00:00, today: 2022-08-19 11:25:09.247215
2022-8-19 11259

In [3]:
'{0:d}-{1:02d}-{2:02d}_{3:02d}:{4:02d}:{5:02d}'.format(today.year,today.month, today.day, today.hour, today.minute, today.second)

'2022-08-18_10:51:49'

In [19]:
print('{0:d}{1:02d}{2:02d}_{3:02d}{4:02d}_{5:04d}'.format(today.year, today.month, today.day,today.hour, today.minute, random.randint(1000,9999)))

20220816_1021_9680

In [4]:
print(type(today))
print(type(base_date))

<class 'datetime.datetime'>
<class 'datetime.datetime'>

In [5]:
delta = today-base_date

In [6]:
print(delta.days)
print(delta.microseconds)

8259
444897

In [7]:
delta.total_seconds()

713613969.444897

In [8]:
aseed = math.trunc(delta.total_seconds())
random.seed(aseed)

In [10]:
np.random.randint(1, 11, size=10)

array([ 8,  9,  4,  5,  2,  7,  9,  3, 10,  7])

In [13]:
s = input("Player name: ")
print(s)

Player name:

In [15]:
random.randint(1000,9999)

5222

In [15]:
import math
from datetime import date, timedelta, time, datetime
def time_since(base_date:datetime=datetime(2000, 1, 1, 0, 0),  end_date=datetime.now(), what='seconds') -> int:
    """Gets the number of seconds or days that has passed since a given base date/datetime
        Arguments:
            base_date : the base date, default is 12:00 AM 2000-01-01
            what : 'seconds' or 'days'
        Returns:
            The seconds or days since the base date to now, truncated to an integer
    """
    delta = end_date-base_date
    if what=='seconds':
        return math.trunc(delta.total_seconds())
    else:   # assume days
        return delta.days

In [16]:
time_since()   # since midnight 1/1/2000

713614100

In [65]:
bday = datetime(1951,12,27,6,33,0,0)
time_since(bday)    # since my birthday

2207621094

In [66]:
daze = time_since(bday, what='days')
daze

25551

In [67]:
random.seed(time_since())
np.random.randint(1, 11, size=10)

array([ 1, 10,  4,  3, 10, 10,  1,  4,  9, 10])

In [17]:
now = datetime.now()
for i in range(10000000): i+=1
delta = datetime.now() - now
print(delta)

0:00:01.203993

In [19]:
# shuffle
experience_count = 50   # 50 experience cards total
experience_cards_index = random.sample(list(range(1,experience_count+1)),experience_count)  #shuffle
print(experience_cards_index)

[7, 32, 39, 23, 13, 9, 3, 15, 33, 30, 1, 11, 37, 18, 43, 35, 21, 47, 2, 48, 44, 34, 26, 31, 38, 4, 45, 19, 22, 20, 10, 29, 14, 24, 42, 28, 49, 40, 36, 16, 25, 6, 50, 12, 27, 5, 41, 8, 46, 17]

In [2]:
from careers.game import SuccessFormula

In [3]:
sf = SuccessFormula(20,30,50)

In [4]:
str(sf)

'Money: $50,000  Fame: 20  Happiness: 30'

In [20]:
border_types = ["payday", "opportunity", "payTax", "enterOccupation", "enterCollege", "buyHearts", "buyStars", "buyExperience",\
                "hospital", "unemployment", "buyInsurance", "gamble" ]

occupation_types = ["loseNextTurn", "travelShortcut", "travelOccupation", "cashLossOrUnemployment",\
                     "salaryIncrease", "salaryCut", "bonus", "favors", "backstab", "fameLoss", "hapinessLoss"]

common_types = ["travelBorder", "cashLoss"]
all_types = border_types + occupation_types + common_types

In [27]:
text = '''{
				"specialProcessing" : {
					"type" : "buyHearts",
					"amount" : 1000,
					"limit" : "salary",
					"penalty" : 1
				}
}'''

In [7]:
def roll(number_of_dice):
    return random.choices(population=[1,2,3,4,5,6],k=number_of_dice)

def retire():
    return player + " You are on Spring Break"

def done():
    return player + " Turn over"

def list(txt):
    return player + " Here it is: " + txt

def where(t1, t2):   # where am I
    return "You are on square# 3 of Pfizer"   # for example

In [5]:
player = "Don"

def parse_command_string(txt, addl_args=[]):
    """Parses a command string into a string that can be evaulated using eval()
    
    """
    command_args = txt.split()
    command = command_args[0]
    if len(command_args) > 1:
        args = command_args[1:]
        command = command + "("
        for arg in args:
            if arg.isdigit():
                command = command + arg + ","
            else:
                command = command + f'"{arg}",'
    
        command = command[:-1] 
    else:
        command = command + "("
        
    if addl_args is not None and len(addl_args) > 0:
        for arg in addl_args:
            command = command + f'"{arg}",'
        command = command[:-1]
        
    return command + ")"

def evaluate(command):
    return eval(command)

In [8]:

cmd = parse_command_string("where am I")
cmd

'where("am","I")'

In [9]:
evaluate(cmd)

'You are on square# 3 of Pfizer'

In [13]:
nums_squared_gc = (num**2 for num in range(5))

In [2]:
x = {5 : {"quantity" : 2, "text" : "OPPORTUNITY to join Disney\nMeet Normal Requirements\nMay save or sell."} }
x[7] = {"quantity" : 1, "text" : "OPPORTUNITY to join Google\nMeet Normal Requirements\nMay save or sell."}

In [16]:
x = []
c1 = {5 : {"quantity" : 2, "text" : "OPPORTUNITY to join Disney\nMeet Normal Requirements\nMay save or sell."}}
c2 = {7: {"quantity" : 1, "text" : "OPPORTUNITY to join Google\nMeet Normal Requirements\nMay save or sell."} }
c3 = {3: {"quantity" : 1, "text" : "OPPORTUNITY to join FMC\nMeet Normal Requirements\nMay save or sell."} }
x.append(c1)
x.append(c2)
x.append(c3)

In [18]:
x.remove(c2)
x

[{5: {'quantity': 2,
   'text': 'OPPORTUNITY to join Disney\nMeet Normal Requirements\nMay save or sell.'}},
 {3: {'quantity': 1,
   'text': 'OPPORTUNITY to join FMC\nMeet Normal Requirements\nMay save or sell.'}}]